################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
obj/
bin/
packages/
/Sotax.Ui.Xamarin/*.user
